html {
	background-image: url(../images/background-prototypes-default.jpg);
}

html.prototype1 {
	background-image: url(../images/background-prototypes-1.jpg);
}

html.prototype2 {
	background-image: url(../images/background-prototypes-2.jpg);
}

html.prototype3 {
	background-image: url(../images/background-prototypes-3.jpg);
}

html.prototype4 {
	background-image: url(../images/background-prototypes-4.jpg);
}

html.prototype5 {
	background-image: url(../images/background-prototypes-5.jpg);
}

.container-fluid p {
	text-align: justify;
}